/* Custom CSS for black theme */
body {
  background-color: #000;
  color: #fff;
  margin: 0;
  padding: 0;
  z-index: 2;
}

#header {
  background-color: #000;
  padding: 20px;
  text-align: center;
  z-index: 2;
}

#header h1 {
  margin: 0;
  font-size: 24px;
  font-family: 'Arial', sans-serif;
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
  z-index: 2;
}

#header img {
  width: 20%;
  height: auto;
  z-index: 2;
}

#content {
  position: fixed;
  text-align: center;
  padding: 20px;
  left: 27%;
  top: 20%;
  margin-top: -4%;
  z-index: 9998;
}

#content h1 {
  font-size: 24px;
  cursor:pointer;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
  margin-bottom: 20px;
  z-index: 2;
}

#searchbar {
  text-align: center;
  margin: 20px auto;
  z-index: 2;
}

.form__input {
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  width: 300px;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.3);
  background-color: #222;
  text-align: center;
  color: #fff;
  cursor:cell;
  z-index: 2;
}

a{
  text-decoration: none;
  color:white;
  width:50px;
  height:50px;
  padding-right: 1px;
  padding-left: 1px;
  text-align: center;
  align-self: center;
  z-index: 2;
}

.form__input::placeholder {
  color: #aaa;
  text-align: center;
  z-index: 2;
}

.form_input:hover{
  cursor:cell;
  z-index: 2;
}

.form__input:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
  z-index: 2;
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #99ccff;
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  height:15px;
  background-color: #000;
  padding-top: 7.5px;
  padding-bottom: 10px;
  text-align: center;
  color: #fff;
  font-size: 14px;
  z-index: 2;
}

#footer p {
  margin: 0;
  z-index: 2;
}

.fa {
  font-size: 50px;
  margin-right: 10px;
  color: #fff;
  z-index: 2;
}

.fa:hover {
  background-color: #ff00ea;
  box-shadow: 0 0 10px #ff00ea, 0 0 20px #ff00ea, 0 0 30px #ff00ea;
  transition: all .2s ease-in-out; 
  z-index: 2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  z-index: 2;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #000000;
  color: #fff;
  text-align: center;
  z-index: 2;
}

header {
  background: rgba(0, 0, 0, 0.5);
backdrop-filter: blur(10px);
  position: fixed;
  top: 0;
  left: 50%;
  border: 100px;
  border-color: #ff00dd;
  transform: translateX(-50%);
  width: 90%;
  max-width: 1600px;
  display: flex;
  justify-content: space-between;
  text-align: center;

  color: white;
  padding: 10px 20px;
  z-index: 9999;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

header h1 p1 {
  font-family: "Arial Black", sans-serif;
  font-size: 2.8em;
  margin: 0;
  z-index: 2;
}

.rainbowtitle:hover{
  transform: scale(1.1);
  transition: all .2s ease-in-out; 
  z-index: 2;
}

nav {
  text-align: center;
  z-index: 2;

}

button {
  font-size: 1.2em;
  padding: 15px 30px;
  margin: 10px;
  background-color: #000000;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 4px 6px rgb(0, 0, 0, 0.2);
  z-index:9999;
  border: 4px solid #141414;
}

ab {
  font-size: 1.2em;
  padding: 15px 30px;
  margin: 10px;
  background-color: #000000;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 4px 6px rgb(0, 0, 0, 0.2);
  z-index:9999;
}

button:hover {
  background-color: #ff00ea;
  box-shadow: 0 0 10px #ff00ea, 0 0 20px #ff00ea, 0 0 30px #ff00ea;
  transition: all .2s ease-in-out; 
  border: 4px solid #ff00f7;
  z-index: 2;
}

#headerbtn {
  font-size: 1.5em;
  padding: 10px 30px;
  margin: 10px;
  background-color: #000000;
  color: #ffffff;
  border: #ff00ea;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 0 10px #000000, 0 0 20px #000000, 0 0 30px #000000;
  z-index:9999;
}

#headerbtn:hover {
  background-color: #ff00ea;
  box-shadow: 0 0 10px #ff00ea, 0 0 20px #ff00ea, 0 0 30px #ff00ea;
  transition: all .2s ease-in-out; 
  z-index: 2;
}

.gallery {
  border-radius: 25px;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  margin: 20px;
  top: 10%;
  position: absolute;
  z-index: 2;
}

.gallery a {
  border-radius: 25px;
  display: block;
  margin: 10px;
  transition: transform 0.3s ease;
  max-width: 364px; 
  max-height: 200px; 
  overflow: hidden; 
  text-align: center;
  z-index: 2;
}

.gallery a img {
  border-radius: 25px;
  width: 100%;
  height: 100%;
  top: 30%;
  left: 50%;
  text-align: center;
  z-index: 2;
}

.partner-gallery {
  border-radius: 25px;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  margin: 20px;
  top: 10%;
  position: absolute;
  z-index: 2;
  left: 45%;
  transform: translateX(-30%);
}

.partner-gallery a {
  border-radius: 25px;
  display: block;
  margin: 10px;
  transition: transform 0.3s ease;
  max-width: 200px; 
  max-height: 200px; 
  overflow: hidden; 
  z-index: 2;
}

.partner-gallery a img {
  border-radius: 25px;
  width: 100%;
  height: auto;
  top: 50%;
  left: 50%;
  z-index: 2;
}

  .partner-gallery a {
    position: relative;
  }

  .partner-gallery a::before {
    content: "Partner";
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ff00ea;
    font-weight: bold;
    font-size: 1.7em;
    opacity: 0;
    transition: opacity 0.3s ease;
    text-shadow: 0 0 10px #ff00ea, 0 0 30px #ff00ea, 0 0 50px #ff00ea;
    z-index: 2;
  }

  .partner-gallery a:hover::before {
    opacity: 1;
    z-index: 2;
  }

  .partner-gallery a:hover {
    transition: all .2s ease-in-out; 
    border-radius: 25px;
    transform: scale(0.9);
    box-shadow: 0 0 10px #ff00ea, 0 0 20px #ff00ea, 0 0 30px #ff00ea; 
    z-index: 2;
  }


  .gallery a {
    position: relative;
    transition: all .2s ease-in-out;
    z-index: 2;
  }

  .gallery a::before {
    content: "PLAY";
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ff00f7;
    font-weight: bold;
    font-size: 1.5em;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
    text-shadow: 0 0 10px #ff00dd, 0 0 20px #ff00dd, 0 0 30px #ff00dd;
    z-index: 2;
    
  }

  .gallery a:hover::before {
    opacity: 1;
    z-index: 2;
  }

  .gallery a:hover {
    border-radius: 25px;
    transform: scale(0.9);
    box-shadow: 0 0 10px #ff00ea, 0 0 20px #ff00ea, 0 0 30px #ff00ea;
    z-index: 2;
     
  }
 

#particles-js{
  width: 100%;
  height: 100%;
  background-color: #000000;
  background-position: 50% 50%;
  position: fixed;
  top: 0px;
  z-index:1;
}
#roddyrichhesbox{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
   box-shadow: 0 0 20px #ff00f7, 0 0 30px #ff00f7, 0 0 40px #ff00f7, 0 0 50px #ff00f7;
    min-width: 350px;
    max-width: 1000px;
    margin: 0 auto;
    border: 3px solid #ff00f7;
  border-radius: 10px;  
    background: rgba(0, 0, 0);
    min-height: 250px;
    padding: 20px;
    z-index: 2;
    text-align: center;
}

.rainbowtitle {
  font-size: 42px;
  font-family: Arial Black, Gadget, sans-serif;
  background-image: -webkit-linear-gradient(left, #f00, #ff2b00, #f50, #ff8000, #fa0, #ffd500, #ff0, #d4ff00, #af0, #80ff00, #5f0, #2bff00, #0f0, #00ff2a, #0f5, #00ff80, #0fa, #00ffd5, #0ff, #00d5ff, #0af, #0080ff, #05f, #002aff, #00f, #2b00ff, #50f, #8000ff, #a0f, #d400ff, #f0f, #ff00d4, #f0a, #ff0080, #f05, #ff002b, #f00);
  -webkit-animation: animatedBackground_a 10s linear infinite alternate;
  -webkit-background-clip: text;
  -webkit-text-fill-color: #0000;
  background-clip: text;
  z-index: 2;
}

@keyframes animatedBackground_a {
  0% { background-position: 0 0 }
  100% { background-position: -500px 0% }
}

body {
  margin: 0;
  padding: 0;
  z-index: 2;
}

.home-link {
  position: absolute;
  top: 10px;
  left: -130px;
  display: inline-block;
  z-index: 2;
}

.home-image {
  width: 100px; /* Adjust the size as needed */
  height: auto;
  transition: transform 0.3s ease;
  z-index: 2;
}

.home-image:hover {
  transform: scale(0.9);
  z-index: 2;
}

.home-link:active {
  transform: scale(0.85); /* Optional: adds a click effect */
  z-index: 2;
}
.arrow {
    position: absolute;
    left: 105%; /* Adjust position to the right of the buttons */
    transform: translateY(-50%);
    color: black;
    font-size: 24px;
    cursor: pointer;
    z-index: 2;
    transition: all 0.3s;
}

html {
  height: 100%;
  width: 100%;
}
#uv-address{
  font-size: 1.2em;
  padding: 15px 30px;
  margin: 10px;
  width: 60%;
  background-color: #080808;
  color: #fff;
  border: 4px solid #141414;
  border-radius: 8px;
  cursor: auto;
  box-shadow: 0 4px 6px rgb(0, 0, 0, 0.2);
  z-index: 2;
  text-decoration-color: white;
  transition: all .3s ease-in-out; 
  overflow: auto;
  text-align: center;
}

#uv-address:hover{
  border: 4px solid #ff00f7;
  transition: all .2s ease-in-out; 
  z-index: 2;
}

#uv-address:focus{
  border: 4px solid #ff00f7;
  transition: all .2s ease-in-out; 
  width: 75%;
  outline: 0px;
  box-shadow: 0 0 5px #ff00f7, 0 0 15px #ff00f7, 0 0 25px #ff00f7;
  z-index: 2;
}
select{
  font-size: 1.2em;
  padding: 15px 30px;
  margin: 10px;
  background-color: #000000;
  color: #fff;
  border: 4px solid #141414;
  border-radius: 8px;
  cursor: auto;
  box-shadow: 0 4px 6px rgb(0, 0, 0, 0.2);
  z-index:9999;
  text-decoration-color: white;
  transition: all .2s ease-in-out; 
  overflow: visible;
  text-align: center;
}

select:hover{
  border: 4px solid #ff00f7;
  transition: all .2s ease-in-out; 
}

select:focus-visible{
  border: 4px solid #ff00f7;
  transition: all .2s ease-in-out; 
  outline: 0px;
  box-shadow: 0 0 5px #ff00f7, 0 0 15px #ff00f7, 0 0 25px #ff00f7;
}
